* {
	padding: 0;
	margin: 0;
}
html,
body,
#app {
	height: 100%;
	min-width: 1366px;
}

.el-input__inner {
	border-color: none !important;
	outline: none !important;
}

/* 卡片和卡片中表格样式 */
.box-card {
  width: 100%;
  margin: 15px 0;
  box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.25) !important;
}

.box-card .el-table,
.zk-table {
	margin: 20px 0;
}

.el-cascader-menu {
	max-height: 200px;
}
/* 动态参数与属性的宽度 */
.el-tabs__item.is-top:nth-child(2),
.el-tabs__item.is-top:last-child {
  width: 150px;
  text-align: center;
}
.el-tabs__active-bar {
  width: 150px;
}

/* 富文本编辑器 */
.ql-container {
	min-height: 200px;
}